@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');


*{

    font-family: "Ancizar Sans", sans-serif;

}

.app
{
  display: grid;
  min-height: 100vh; /*Covers the enitire height of the viewport */
   background-color: rgba(255, 94, 46, 0.228);
}

